img {
    height: 300px;
}

body {
    height: 100vh;
    margin: 0;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    background-color: #DFD0B8;
    border: 10px solid #948979;
}

.formProjectContainer {
    height: 80%;
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    background-color: #DFD0B8;
    border: 10px solid #948979;
}

.myProjectContainer {
    height: 80%;
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    background-color: #DFD0B8;
    border: 10px solid #948979;
}

#card{
    border: 3px solid black;
    margin-left: 5%;
}

.pContainer {
    margin: 20px;
}

#contactMeButton {
    background-color: #948979;
    border: 2px solid black;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 200px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.lowerArea {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lowRight {
    margin-left: 20px;
    margin-right: 20px;
    
}

#line1 {
    height: 10px;
    width: 100%;
    background-color: #393E46;
}

#line2 {
    height: 50px;
    background-color: #948979;
    border-top: 5px solid #393E46;
}

.addProjectButtonArea {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 30%;
    width: 40%;
    margin-right: 5%;
}

#myProjecth1 {
    justify-self: center;
}

#containerArea {
    display: flex;
    justify-content: space-between;
}

.backButton {
    margin-top: 50px;
    margin-left: 50px;
}

#myProjectForm {
    margin-left: 50px;
    padding-right: 50px;
}

#projectName {
    width: 100%;
    height: 50px;
}

#projectDescription {
    width: 100%;
    height: 300px;
}

#submitButton {
    margin-top: 50px;
}

#containerArea {
    margin-top: 50px;
    justify-content: center;
    margin-right: 5%;
}

.detail {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.open {
    background-color: transparent gray;
    opacity: 100;
    z-index: 2;
}

.imgDetail {
    height:300px;
    width: 400px;
    border: 5px solid black;
}

.detailContainer {
    background-color: sandybrown;
    height: 80vh;
    width: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

